* {
    box-sizing: border-box;
}

body{
    padding: 10%;
}

body > h1{
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

table {
    table-layout: fixed ;
}

#enterContent > * {
    height: 5vh;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1vh;
}

#enterContent input{
    width: 78%;
    margin: 1vh 1% 2vh 0;
}

#enterContent button{
    width: 20%;
    margin: 1vh 0 2vh 0;
}

#Cal-main {
    position: relative;
    width: 100%;

    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;

}

.Cal-title-row > * {
    position: relative;
    font-family: 'Signika', sans-serif;
    height: 5vh;
    text-align: center;
}

.Cal-content-row > * {
    font-family: 'Signika', sans-serif;
    height: 15vh;
    padding: 2vh;
} 
.date:not(.selected):hover{
    background: rgba(0, 0, 0, 0.103);
    border-radius: 8px;
}
.selected{
    background: rgba(0, 0, 0, 0.884);
    color: white;
    border-radius: 8px;
}